@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
.LocationInfo{
    background-color: #191919;
    font-family: 'Fredoka', sans-serif;
    padding: 2rem;
}

.LocationInfo-Ch{
    text-align: center;
    display: flex;
    margin: 1rem auto;
    justify-content: space-around;
    font-size: 1rem;
    color: #fff;
}
.span-ch{
    display: flex;
}